{% extends 'base.html' %}

{% block head %}
<head>
	<meta charset="utf-8">
	<title>CSE 412 Database Project</title>
</head>
{% endblock %}

{% block body %}
<div class="content">
	<h1>ASU Class Discord Server Search</h1>
	<table>
		<tr>
			<th>Course Subject</th>
			<th>Course Number</th>
			<th>Section Number</th>
			<th>Course Name</th>
			<th>Professor Name</th>
			<th>Server Link</th>
		</tr>
        {% for row in rows %}
		<tr>
			<td>{{row[0]}}</td>
			{%if row[2] %}
			<td>{{row[1]}}{{row[2]}}</td>
			{%else%}
			<td>{{row[1]}}</td>
			{%endif%}
			<td>{{row[3]}}</td>
			<td>{{row[4]}}</td>
			<td>{{row[5]}}</td>
			{%if row[6] %}
			<td>https://www.discord.gg/{{row[6]}}</td>
			{%else%}
			<td></td>
			{%endif%}
		</tr>
        {% endfor %}
	</table>
</div>
{% endblock %}
