{% extends 'base.html' %}

{% block head %}
<head>
	<meta charset="utf-8">
	<title>CSE 412 Database Project</title>

    <!-- Bootstrap imports -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
{% endblock %}

{% block body %}
<div class="content">


	<h1>ASU Class Discord Server Search</h1>

	<form action="{{url_for('search_page')}}" method="post">
		<label for="subject">Subject: </label>
		<input id="subject" name="subject" type="text" value="{{subject}}">

		<label for="number">Number: </label>
		<input id="number" name="number" type="text" value="{{number}}{{ext}}">
		<input type="submit" value="Search">
	</form>

	<table>
		<tr>
			<th class="table_element">Course Subject</th>
			<th class="table_element">Course Number</th>
			<th class="table_element">Section Number</th>
			<th class="table_element">Course Name</th>
			<th class="table_element">Professor Name</th>
			<th class="table_element">Server Link</th>
		</tr>
        {% for row in rows %}
		<tr>
			<td class="table_element">{{row[0]}}</td>
			{%if row[2] %}
			<td class="table_element">{{row[1]}}{{row[2]}}</td>
			{%else%}
			<td class="table_element">{{row[1]}}</td>
			{%endif%}
			<td class="table_element">{{row[3]}}</td>
			<td class="table_element">{{row[4]}}</td>
			<td class="table_element">{{row[5]}}</td>
			{%if row[6] %}
			<td class="table_element"><a href="https://www.discord.gg/{{row[6]}}"> Discord Server </a></td>
			{%else%}
            <td class="table_element">
				<input type="checkbox" id="checkbox_{{row[3]}}">
                <a href="{{url_for('modal', section_number=row[3], subject=row[0], course_number=row[1], ext=row[2])}}">Add Server</a>
            </td>
			{%endif%}
		</tr>
        {% endfor %}
	</table>
</div>

{% block modal %}
{% endblock %}

{% block bot %}
{% endblock %}

{% block script %}
{% endblock %}

{% endblock %}
