{% extends 'base.html' %}

{% block head %}
<head>
	<meta charset="utf-8">
	<title>CSE 412 Database Project</title>
</head>
{% endblock %}

{% block body %}
<div class="content">
	<h1>ASU Class Discord Server Search</h1>
	<table>
		<tr>
			<th>Course Subject</th>
			<th>Course Number</th>
			<th>Section Number</th>
			<th>Professor Name</th>
		</tr>
        {% for row in rows %}
		<tr>
            {% for r in row%}
            <td>{{r}}</td>
            {% endfor %}
		</tr>
        {% endfor %}
	</table>
</div>
{% endblock %}
