{% extends 'index.html'%}
{% block modal %}

<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="discord-link" class="col-form-label">Enter discord link (Please enter a permanent link):</label>
            <input type="text" class="form-control" id="discord-link">
          </div>
        </form>
      </div>
      <div class="modal-footer">
          <a href="{{ url_for('submit', section_number=section_number, link='AAAAA', subject=subject, course_number=course_number, ext=ext)}}" class="btn btn-primary" id="submit-btn">Submit</a>
          <a href="{{ url_for('search_page', subject=subject, number=number, ext=ext)}}" class="btn btn-secondary">Close</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        console.log("window is loaded")
        $("#exampleModal").modal("show")
    })
</script>
{% endblock %}
